body
{
	margin: 0;
	background-color: white;
	border:0;
}
nav
{
	background-color: white;
}
.navbar-nav
{
	margin-left: auto;
	background-color: white; 
}
.sliders
{
	display: flex;

}
/*
.cards
{
	width: 200px;
	height: 200px;
	margin: 2rem;
}
.cards-img
{
	width: 100%;
}
.cards-body
{
	width: 200px;
	height:100px;
}
.cards-title
{
	
}*/
.Container
{
	height: 500px;
}
.Container__card
{
	background-color:gray; 
}
.Slider
{
	height: 200px;
	display: flex;
	align-items: center;
	
}
.Slider__pics
{
	text-align: center;
}
.footer
{
	background-color:gray;
}
/* media query for tablet phones */
@media (max-width:992px)
{
body
{
	
}
}
/* media query for laptop and computer phones */
@media (min-width: 993px)
{
body
{
	
}	
}
/* media query for mobile phones */
@media (max-width:768px)
{

}